@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#hello {
  border: 1px solid red;  
}

@keyframes fillUp {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.animate-fill-up {
  animation: fillUp 2s ease-in-out;
}
