---
import Layout from "../layouts/Layout.astro";
const pageTitle="Projects";
import Card from "../components/Card.astro";
import '../styles/cards.css'
---

<Layout pageTitle={pageTitle} class="h-[calc(100vh-150px)]">
  <div class="flex flex-col">
    <div class="text-4xl font-bold text-text items-center justify-center flex">
      Here are some of my projects
    </div>
    <div id="cards" class="pt-8 flex flex-wrap gap-2 w-[clac(100%-100px);] justify-center">
      <Card/>
      <Card/>
      <Card/>
      <Card/>
      <Card/>
      <Card/>
    </div>
  </div>
  <!--<TheExperience client:load/>-->
  <script>
    import '../scripts/cards.js'
  </script>
</Layout>