---
import Layout from "../layouts/Layout.astro";
const pageTitle="Projects";
import Card from "../components/Card.astro";
import '../styles/cards.css'
---

<Layout pageTitle={pageTitle} class="h-[calc(100vh-150px)]">
  <div class="flex flex-col">
    <div class="text-3xl font-bold text-text items-center justify-center flex">
      Here are some of my projects
    </div>
    <div id="cards" class="pt-8 flex flex-wrap gap-2 w-[clac(100%-100px);] justify-center">
      <Card title="Soccer Discord Bot" description="A Discord with your favourite soccer quiz games" href="#"/>
      <Card title="Astro Landing Page" description="A great template landing page with all sections included. Perfect for starters." href="https://landing-xineohperif.netlify.app"/>
      <Card title="Doodle Duo Game" description="A two-player game created using C++ and SFML" href="#"/>
      <Card title="Irreducibility Checker" description="A python script that checks the irreducibility of a polynomial" href="#"/>
      <Card title="Newtab Extension" description="A Chrome extension that replaces your newtab page with your own customization" href="#"/>
      <Card title="Portfolio Website" description="A portfolio website that you are looking at right now :D" href="https://portfolio-xineohperif.netlify.app"/>
    </div>
  </div>
  <!--<TheExperience client:load/>-->
  <script>
    import '../scripts/cards.js'
  </script>
</Layout>