---
import Layout from "../layouts/Layout.astro";
const pageTitle="Projects";
---

<Layout pageTitle={pageTitle}>
  <div id="3d-container" class="w-full h-96"></div>
  <script>
    import "../scripts/3d.js"
  </script>
  <!--<TheExperience client:load/>-->
</Layout>