---
const {title, href, bool} =  Astro.props;
---

<a href={href} class=`font-font text-2xl decoration-accent decoration-4 hover:underline ${bool ? "underline text-text": "text-cod-gray-500"}`>{title}</a>