---
import { ViewTransitions } from "astro:transitions";
const {pageTitle} = Astro.props;
import Navbar from '../components/Navbar.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{pageTitle}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="public/icon.ico">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <style>
    mjx-container svg {
    display: inline;
    }

    .MathJax {
        font-size: 1.1rem;
        color: black;
    }
  </style>
  <ViewTransitions/>
</head>
<body class="font-sans bg-background-950">
  <Navbar pageTitle={pageTitle}/>
  <slot/>
</body>
</html>